/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Code]
      ,[Description]
      ,[LookUpPriceListId]
      ,[Percentage]
      ,[Status]
      ,[ActivationDate]
      ,[DeactivationDate]
      ,[SalesTypeId]
      ,[PricelistMasterId]
      ,[IsDeleted]
      ,[Type]
  FROM [Pos_Alexandra].[dbo].[Pricelist]